<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            PARAMETROS BASICOS
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Exámenes Básicos</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>replay</mat-icon>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>alarm</mat-icon>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>favorite</mat-icon>

                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Legacy form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>accessibility</mat-icon>

                </mat-form-field>
            </p>


        </mat-card-content>

    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Antecedentes</mat-card-title>
        </mat-card-header>

        <mat-card-content>


            <div class="row">

                <div class="col">
                    <mat-checkbox>
                        Diabetes I
                    </mat-checkbox>
                    <br>

                    <mat-checkbox>
                        Diabetes II
                    </mat-checkbox>
                    <br>


                    <mat-checkbox>
                        Asma
                    </mat-checkbox>
                    <br>

                    <mat-checkbox>
                        Cardiopatia
                    </mat-checkbox>
                    <br>


                </div>

                <div class="col">
                    <mat-checkbox>
                        H.T.A.
                    </mat-checkbox>
                    <br>

                    <mat-checkbox>
                        E.P.O.C.
                    </mat-checkbox>
                    <br>

                    <mat-checkbox>
                        A.C.V.
                    </mat-checkbox>
                    <br>

                    <mat-checkbox>
                        Convulsión
                    </mat-checkbox>
                    <br>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>GUARDAR</button>
            <button mat-button>LIMPIAR</button>
        </mat-card-actions>
    </mat-card>

</mat-expansion-panel>