<!-- class="example-card" [style.display]="mostrar" [ngClass]="{'animated fadeIn slow' : listo}" -->
<div class="container">
    <div class="image-wrap">
        <div class="image" [style.left]="leftpx" [style.top]="toppx">

            <img src="./assets/body.jpg" (mouseover)="increase()" id="img1" [width]="width">


        </div>
    </div>

    <div class="main">


        <div [ngClass]="{'animated fadeOutUp faster altura' : listo}">
            <app-cabecera-formulario></app-cabecera-formulario>
        </div>

        <div [style.display]="mostrarSuperior" [ngClass]="{'animated fadeIn fast' : listo}">
            <app-region-superior></app-region-superior>
        </div>
        <br>

        <div [style.display]="mostrarMedia" [ngClass]="{'animated fadeIn fast' : listo}">
            <h5>REGION MEDIA E INFERIOR</h5>
            <app-region-media></app-region-media>
            <app-region-inferior></app-region-inferior>

        </div>
        <br>




    </div>
</div>